{% extends "base/base.html" %}

{% block title %}Register{% endblock title %}

{% block start %}
<section class="container pt-4 section-content padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="card mx-auto" style="max-width: 500px; margin-top: 100px">
    <div class="card-body">
      <h4 class="card-title mb-4">Sign Up</h4>
      <form method="POST">
        {% csrf_token %}
        {% include "base/alert.html" %}

        <div class="row">
          <div class="col-md-6 form-group">
            <input name="first_name" class="form-control" placeholder="First Name" type="text" required />
          </div>
          <div class="col-md-6 form-group">
            <input name="last_name" class="form-control" placeholder="Last Name" type="text" required />
          </div>
        </div>

        <div class="form-group">
          <input name="email" class="form-control" placeholder="Email" type="email" required />
        </div>

        <div class="form-group">
          <input name="password" class="form-control" placeholder="Password" type="password" required />
        </div>

        <div class="form-group">
          <input name="address" class="form-control" placeholder="Address" type="text" required />
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <input name="city" class="form-control" placeholder="City" type="text" required />
          </div>
          <div class="col-md-6 form-group">
            <input name="state" class="form-control" placeholder="State" type="text" required />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <input name="country" class="form-control" placeholder="Country" type="text" required />
          </div>
          <div class="col-md-6 form-group">
            <input name="zip_code" class="form-control" placeholder="Zip Code" type="text" required />
          </div>
        </div>

        <div class="form-group">
          <input name="phone" class="form-control" placeholder="Phone Number" type="text" pattern="[6-9]{1}[0-9]{9}" 
            title="Enter a valid 10-digit Indian phone number (starting with 6, 7, 8, or 9)" required />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>

      </form>
    </div>
  </div>

  <p class="text-center mt-4">Already have an account? <a href="/accounts/login/">Sign In</a></p>
</section>
{% endblock %}
